.item-buddies{
    display: flex;
    flex-direction: column-reverse;
    height: 94.5vh;
    align-items: space-between;
    animation-name: opacity-anim;
    animation-iteration-count: 1;
    animation-duration: 1s;
  
  }
  
  .item-buddy-search{
    display: flex;
    align-items: center;
    min-width: 300px;
    background:#00000070;
    height: 6vh;
  }
  
  .item-buddy-search-bar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    color: white;
    border-top: 2px solid #e6e6e6;
    padding: 10px 0; 
  }
  
  .item-buddy-search input{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 0;
    margin: 0px 5px;
    border-radius: 0;
  }
  
  .item-buddy-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
  }
  .item-buddy-pic{
    margin: 20px;
    border: 2px solid white;
    background-color:#e6e6e62f;
    cursor: default;
  }
  
  .item-buddy-pic:hover{
    background-color:#8b8b8b2f;
  }
  .item-buddy-pic img{
    padding: 3px;
    width: 128px;
  }
  
  .item-buddy-search-result{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
  }
  
  .item-buddy-search-result img{
    width: 150px;
    height: 150px;
  }