.weapons {
    display: flex;
    min-height: 90vh;
  
  }
  
  .weapons-subcat {
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    max-width: 22vw;
    justify-content: space-between;
  }
  
  .weapons-subcat:first-of-type {
    margin-right: 20px;
    max-height: 93vh;
    min-width: 10vw;
    max-width: 10vw;
  }
  
  .weapons-subcat:last-of-type{
    min-width: 25vw;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: fit-content;
  }
  
  
  .weapons-subcat:first-of-type .weapon-details{
    height: 19%;
  }
  .weapon-categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;
    height: 100%;
  }
  
  .weapon-item {
    background-color: rgba(152, 255, 133, 0.452);
    display: flex;
    justify-content: center;
    margin: 3px;
  
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }
  .weapon-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 5px;
    transform: scaleX(-1);
  }
  
  .weapon-details:hover {
    background-color: rgba(167, 167, 167, 0.4);
    box-shadow: inset 0 0 10px #6affda69;
  }
  .weapon-pic {
    object-fit: scale-down;
    width: 75%;
    padding: 12px 0;
  }
  .weapon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    background-color: rgba(82, 82, 82, 0.5);
    height: 46%;
  }
  
  .weapon-name {
    width: 100%;
    margin-left: 25px;
  
    display: flex;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .weapon-data-img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
    height: 20vh;
    
  }
  .weapon-data-img img{
    
    max-width: 100%;
    max-height: 120px;
    
  }
  
  .weapon-data-details{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    max-height: 50%;
    min-width: 20vh;
  
    animation-name: opacity-anim;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }
  
  .weapon-data-name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    color:#e6e6e6;
    text-transform: uppercase;
    text-align: center;
  }
  
  .weapon-data-infos{
  
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    background-color: rgba(88, 88, 88, 0.5);
    width: 100%;
    color: white;
    font-size: 12px;
    min-height: 20vh;
  }
  
  .weapon-data-info{
    margin: 5px;
  }

  .weapon-data-details-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
  }

  .back-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: lighter;
    color:rgb(221, 221, 221);
    justify-self: flex-start;
    width: 100vw;
    z-index: -1;
  }

  @media only screen and (max-width: 950px){

    .weapons{
      flex-direction: column-reverse;
      align-items: center;
      width: 100vw;

      .weapons-subcat {
       min-width: 100%;
       max-height: fit-content;
      }

      .weapon-categories{
        width: 100%;
        align-items: center;

        .weapon-item{
          display: block;
          width: 100%;
          text-align: center;
        }

        .weapon-details{
          width: 90%;
        }
        
        
    }

    .weapon-data-details{
      padding: 0px 30px;
      background-color: rgba(167, 167, 167, 0.4);
      content: "Weapon data";
      height: 90vh;
      width: 90%;
      justify-content: center;
    }

    .weapon-details{
      width: 90%;
    }

  }
  .button-skins {
    display: flex;
    justify-content: center;
  }

  .weapons-subcat:first-of-type {
    margin-right: 0;
  }

  .weapons-subcat:last-of-type {
    margin-right: 0;
    flex-direction: column;
    //min-height: 50vh;
    align-items: center;
     
    :first-child{
      
    }
  }
}