@font-face {
  font-family: Valorant;
  src: url(./assets/fonts/Valorant-Font.ttf);
}

@font-face {
  font-family: Tungsten;
  src: url(./assets/fonts/Tungsten-Bold.ttf);
}

.body {
  /* background: linear-gradient(to top, #839aff 0%, #243a5d 100%); */
  /* background: linear-gradient(to bottom, #6e529d 0%,#583aff 100%); */
  background-image: url("./assets/bg.jpg");
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-size: cover;
}

a {
  text-decoration: none;
}

.loading-div {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-height: 100vh;
  width: 100vw;
}

.home-title {
  position: absolute;
  font-family: Valorant;
  color: white;
  font-size: 3em;
  text-align: center;
  top: 10%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.back-button:hover {
  color: #fbe5b6;
}

@-webkit-keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes item-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes item-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes character-up {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  50% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes character-up {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  50% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacity-bundle {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes opacity-bundle {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes spray-anim {
  0% {
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes spray-anim {
  0% {
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 5000ms linear 5000ms;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 5000ms linear;
  transition: opacity 5000ms linear;
}

.fade-exit-done {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #525252;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f159;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
}
/*# sourceMappingURL=App.css.map */